html
  head
    title The State of Insanity

  body(BGCOLOR=roomProps.body.bgcolor,
    TEXT=roomProps.body.text,
    LINK=roomProps.body.link,
    ALINK=roomProps.body.alink,
    VLINK=roomProps.body.vlink,
    background=roomProps.body.background)
        
    block body
