html
  head
    title The State of Insanity</title>

  body(BGCOLOR=body.bgcolor,
    TEXT=body.text,
    LINK=body.link,
    ALINK=body.alink,
    VLINK=body.vlink,
    background=body.background)
    block body
    