doctype html
html
  head
    title!= title

    link(href='/static/css/normalize.css', rel='stylesheet')
    link(href='/static/css/btc.css', rel='stylesheet')

    each d,l in lounges
        link(href='/static/css/lounge_' + l + '.css', rel='stylesheet')

  body

    h1!= title

    p(style='background-color: black; color:red')
        b
            i.
                This feature is coming ... soonish!  I just had to have it hosted at SOI to
                properly test if the sending mail worked properly.


    p
      i Blame the Cards
      |, a game based off Cards Against Humanity, is NSFW (NOT SAFE FOR WORK.)
      |To describe some of the answer cards as rude or offensive would be
      |an understatement.

    p Only enter if you understand this.

    if !verified
        form
            p.
              In order to verify your user-name, BtC will send you a MSG at SOI.
              After hitting the <code>Verify</code>
              span button, check your SOI mailbox for a link to continue.

            span Please enter your SOI nickname:
            input(id='soiNick', type='text', name='soiNick', value=soiNick)
            | &nbsp;
            input(id='submitVerify', type='submit', name='submitVerify', value='Verify SOI Username')
            <br>
            if link
                <a id='soi-mail-room' href='#{link}'>Go to SOI Mail Room</a>
            <h1 id='instructions'></h1>


    if verified
        fieldset
            legend Join an existing room
            div#room-list-container

        br
        br
        br
        br

        form(id='createRoomForm')
            div
                fieldset
                   legend Create a new room
                   label(for='roomName') Choose a room name:
                   input(id='roomName', type='text', name='roomName', value='', data-val-required='Room Name is required')
                   span(data-val-for='roomName')
                   input(type='hidden' name='soiNick' value=soiNick)
                   input(type='hidden' name='token' value=token)

                   legend Choose the room theme
                   each key,i in Object.keys(lounges)
                        - var l = key;
                        - var checked = (i === 0);
                        label.theme-select-label
                            input(type='radio', name='theme', value=l, checked=checked)
                            img(class='lounge_' + l + ' select-theme', src='/static/images/#{l}-logo-small.png')

                div
                    input(id='createRoom' type='submit' name='createRoom' value='Create Room')
                    span(data-val-for='createRoom')

    script#join-room-template(type='text/html')
       button.room-list-item
           img
           br
           span.room-list-name
           br
           span.room-list-owner

    script.
        var gameUrl = '#{url}';

    script(src='/client/btc-common.js')
    script(src='/client/btc-enterlounge.js')
    script(src='/static/js/sockjs.min.js')