doctype html
html
  head
    title!= title

    link(href='/static/css/normalize.css', rel='stylesheet')
    link(href='/static/css/btc.css', rel='stylesheet')

    each d,l in lounges
        link(href='/static/css/lounge_' + l + '.css', rel='stylesheet')

  body

    h1!= title

    p(style='background-color: black; color:red')
        b
            i.
                This feature is coming ... soonish!  I just had to have it hosted at SOI to
                properly test if the sending mail worked properly.


    p
      i Blame the Cards
      |, a game based off Cards Against Humanity, is NSFW (NOT SAFE FOR WORK.)
      |To describe some of the answer cards as rude or offensive would be
      |an understatement.

    p Only enter if you understand this.

    if !verified
        form
            p.
              In order to verify your user-name, BtC will send you a MSG at SOI.
              After hitting the <code>Verify</code>
              span button, check your SOI mailbox for a link to continue.

            span Please enter your SOI nickname:
            input(id='soiNick', type='text', name='soiNick', value=soiNick)
            | &nbsp;
            input(id='submitVerify', type='submit', name='submitVerify', value='Verify SOI Username')
            <br>
            if link
                <a id='soi-mail-room' href='#{link}'>Go to SOI Mail Room</a>
            <h1 id='instructions'></h1>


    if verified
        each d,l in lounges
            button(class='lounge_' + l + ' enter-realm-button', 'data-lounge'=l)
                div(class='logo')
                div(class='util-text-align-center')= d.name
            br

    script.
        var gameUrl = '#{url}';

    script(src='/client/btc-common.js')
    script(src='/client/btc-enterlounge.js')