doctype html
html
    head
        link(href='/static/css/normalize.css', rel='stylesheet')
        link(href='/css/themes/_' + theme + '/' + theme + '.css', rel='stylesheet')

        title!= title
    body
        h1 Blame the Cards - Room #{roomName}

        div#header
            div#player-list-container
                div.section-header People here

        div#message-list-container
            span.section-header Messages
            div.message-container

        form#chat(method='POST')
            select(name='chat-to' id='chat-to')
            input(type='text' name='chat-message' id='chat-message' value='')
            input(type='submit' value='Talk')

        form#reload-game-room(method='POST')
            div
                input(type='hidden' name='roomName' value=roomName)
                input(type='hidden' name='theme' value=theme)
                input(type='hidden' name='soiNick' value=soiNick)
                input(type='hidden' name='token' value=token)
                input(type='submit' value='Reload page')

            - var href = [url, 'enterlounge', 'straight-link', soiNick, token].join('/');
            button(type='button' onclick='location.href="#{href}"') Return to Room List

        script.
            var cred = {
                gameUrl: '#{url}',
                soiNick: '#{soiNick}',
                token: '#{token}',
                roomName: '#{roomName}'
            };

        script(type='text/html' id='player-list-template')
            div.soiNick

        script(type='text/html' id='message-template')
            div.message-row
                div.message-column(data-bind='date')
                div.message-column(data-bind='from')
                div.message-column(data-bind='to')
                div.message-column(data-bind='message')

        script(src='/client/btc-common.js')
        script(src='/client/btc-game-room.js')
        script(src='/static/js/sockjs.min.js')