html
  head
    title The State of Insanity

  body(BGCOLOR=roomData.body.bgcolor,
    TEXT=roomData.body.text,
    LINK=roomData.body.link,
    ALINK=roomData.body.alink,
    VLINK=roomData.body.vlink,
    background=roomData.body.background)
        
    block body
